/* src/components/Footer.css */
footer {
    background-color: #ffffff;
    color: #8b939c;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

footer p {
    margin: 0;
    padding: 0;
}